body{
  background-color:#FCF5E5;
}

.current-page{
  color:black;
  text-decoration:none;
}

.header li{
  display:inline-block;
  margin:0px 20px;
}

.header ul{
  padding:0px;
}

hr{
  color:black;
  background-color:black;
  border:solid;
  border-width:2px;
  width:90%;
}

.citation p{
  text-indent:-2em;
  margin-left:2em;
} 
