body{
  background-color:#fbe5c3;
}

.header{
  text-align:center;
}

.header h1{
  font-size: 50px;
}

.content{
  width:80%;
  padding-left:10%;
}

hr{
  color:black;
  background-color:black;
  border:solid;
  border-width:2px;
  width:50%;
}
