body{
  background-color:#fbe5c3;
}

.header{
  text-align:center;
}

.header h1{
  font-size: 50px;
  margin-bottom:0px;
}

.header ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.current-page{
  color:black;
  text-decoration:none;
}

.header li{
  display:inline-block;
  margin:0px 20px;
}

.content{
  width:80%;
  padding-left:10%;
}

.content h2{
  padding-left:7.5%;
}

hr{
  color:black;
  background-color:black;
  border:solid;
  border-width:2px;
  width:50%;
}

.content p{
  text-indent:2em;
}

.citation p{
  text-indent:-2em;
  margin-left:2em;
}
